SoapURL = http://www.dataaccess.com/webservicesserver/numberconversion.wso
RequestTmplFile = NumToWord.xml
UserAgent = LK Inc. Load Tester
InputFile = Numbers.txt
FieldCount = 1
IgnoreHeader = true
LogResponse = true
MaxThreadCount = 10
ThreadSpawnDelay = 25
LoopDelay = 25
ThreadCloseDelay = 500
ResultFileSuffix = load_test_result
ExpectedTimeMin = 250
ExpectedTimeMax = 350
BasicAuthentication = false
O-User =
O-Password =
O-SoapAction =
